* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Arial', 'Roboto', 'Ubuntu', sans-serif;
  font-size: 14px;
  height: 100%;
}

.container {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/* chats-list section */
.chats {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  max-height: 100%;
  height: calc(100% - 52px);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chats__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.chats__search .burger-icon {
  margin: 0 17px;
  cursor: pointer;
  color: gray;
}

.chats__search input {
  height: 30px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #eee;
  font-weight: 500;
}

.chats__search input:focus {
  outline: none;
  outline: 2px solid #0088CC;
  border-radius: 5px;
  background: #ffffff;
}

.chats__list {
  height: calc(100% - 1px);
  overflow: auto;
  visibility: hidden;
}

.chats__list-scroll {
  height: 100%;
  visibility: visible;
}

.chats__list-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.chats__list-item .item-icon {
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.chats__list-item .item-icon .item-avatar {
  height: 47px;
  width: 47px;
  border-radius: 50%;
}

.chats__list-item .item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  padding: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.chats__list-item .item-description .item-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
}

.chats__list-item .item-description .item-msg {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6d7883;
  font-weight: 500;
}

.chats__list-item .item-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 10px;
}

.chats__list-item .item-meta p {
  text-align: center;
}

.chats__list-item .item-meta .msg-time {
  color: #6d7883;
}

.chats__list-item .item-meta .unread-counter {
  padding: 2px 7px 2px 7px;
  color: #fff;
  border-radius: 15px;
  font-size: 0.9em;
  background-color: rgba(150, 150, 150, 0.8);
}

.chats__list-item:hover {
  background: rgba(230, 230, 230, 0.7);
}

.chats__list:hover {
  visibility: visible;
  overflow-y: scroll;
}

/* chats-list section end */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main .chat__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc(100% - 300px);
      flex-basis: calc(100% - 300px);
}

.main .chat__wrapper .chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main .chat__wrapper .chat__header-description {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin-left: 13px;
}

.main .chat__wrapper .chat__header-description .chat-nickname {
  font-weight: 600;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main .chat__wrapper .chat__header-description .chat-online {
  color: #6c7883;
  font-weight: 500;
}

.main .chat__wrapper .chat__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  color: gray;
  margin-right: 10px;
}

.main .chat__wrapper .chat__header-buttons .window-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main .chat__wrapper .chat__header-buttons i {
  margin: 0 10px;
}

.main .chat__wrapper .chat {
  height: calc(100% - 98px);
  overflow: auto;
  visibility: hidden;
}

.main .chat__wrapper .chat .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 6px;
  visibility: visible;
}

.main .chat__wrapper .chat .messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 30px;
  max-width: 420px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  z-index: 2;
  -webkit-box-shadow: 0 0 5px 1px #ccc;
  box-shadow: 0 0 5px 1px #ccc;
}

.main .chat__wrapper .chat .messages .message__content {
  z-index: 2;
}

.main .chat__wrapper .chat .messages .message__content-text {
  position: relative;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: -3px;
  max-width: 100%;
}

.main .chat__wrapper .chat .messages .message__content-text .message__content-time {
  display: inline-block;
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  text-align: right;
  color: #6c7883;
}

.main .chat__wrapper .chat .messages .message__content .message__img {
  border-radius: 6px;
  max-width: 100%;
  padding: -3px;
}

.main .chat__wrapper .chat .messages .message__content .message__content-time-hover {
  position: absolute;
  display: none;
  bottom: 10px;
  right: 10px;
  padding: 4px 7px;
  color: #fff;
  border-radius: 5px;
  background: rgba(100, 100, 100, 0.7);
}

.main .chat__wrapper .chat .messages .my-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #fff;
}

.main .chat__wrapper .chat .message:hover .message__content-time-hover {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .chat__wrapper .chat:hover {
  visibility: visible;
  overflow-y: scroll;
}

.main .chat__wrapper .chat__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .chat__wrapper .chat__footer .attach-icon {
  color: #6c7883;
  padding: 12px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.main .chat__wrapper .chat__footer .message-input {
  width: calc(100% - 10px);
  height: 40px;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 4px;
  font-weight: 500;
  word-wrap: break-word;
}

.main .chat__wrapper .chat__footer .left-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .chat__wrapper .chat__footer .left-icons i {
  color: #6c7883;
  padding: 0 12px;
}

.main .info {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.main .info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .info__header .user-info {
  font-weight: 600;
  margin-left: 22px;
}

.main .info__header .cross {
  float: right;
  color: #737e87;
  margin-right: 20px;
  cursor: pointer;
}

.main .info__scroll {
  height: calc(100% - 52px);
  overflow: auto;
  visibility: hidden;
}

.main .info__scroll .info__wrapper {
  visibility: visible;
}

.main .info__scroll .info__wrapper .info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 106px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .info__scroll .info__wrapper .info__content-avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 20px;
}

.main .info__scroll .info__wrapper .info__content-name {
  margin-left: 18px;
}

.main .info__scroll .info__wrapper .info__content-name .info__content-nickname {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 12px;
}

.main .info__scroll .info__wrapper .info__content-name .info__content-online {
  color: #6c7883;
}

.main .info__scroll .info__wrapper .void {
  width: 100%;
  height: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  -webkit-box-shadow: inset 0 0 4px #cccccc;
          box-shadow: inset 0 0 4px #cccccc;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper i {
  color: #6c7883;
  margin-left: 26px;
  margin-top: 30px;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .invisible {
  opacity: 0;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values {
  margin-top: 25px;
  margin-left: 33px;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .value {
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .description {
  color: #6c7883;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch {
  position: relative;
  display: block;
  width: 26px;
  height: 13px;
  float: right;
  margin-right: 22px;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch input {
  display: none;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch input:checked + .slider {
  background-color: #1DA1F2;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch input:checked + .slider:before {
  border: 1.5px solid #1DA1F2;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c7883;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  top: -3px;
  background-color: #fff;
  border: 1.5px solid #6c7883;
  -webkit-transition: .4s;
  transition: .4s;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch .round {
  border-radius: 10px;
}

.main .info__scroll .info__wrapper .info__user-description .info__user-wrapper .info__values .switch .slider.round:before {
  border-radius: 50%;
}

.main .info__scroll .info__wrapper .info__user-description .last {
  padding-bottom: 22px;
  cursor: pointer;
}

.main .info__scroll .info__wrapper .info__user-description .last .info__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.main .info__scroll .info__wrapper .info__attachments {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.main .info__scroll .info__wrapper .info__attachments ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .info__scroll .info__wrapper .info__attachments ul li i {
  width: 20%;
  color: #6c7883;
  margin-left: 20px;
  padding-right: 35px;
  text-align: center;
}

.main .info__scroll .info__wrapper .info__attachments ul li .value {
  width: 80%;
  text-align: left;
  font-size: 0.9em;
}

.main .info__scroll .info__wrapper .info__attachments ul li .invisible {
  opacity: 0;
}

.main .info__scroll .info__wrapper .info__attachments ul li:hover {
  background-color: rgba(230, 230, 230, 0.7);
}

.main .info__scroll .info__wrapper .info__attachments .block {
  margin-top: 10px;
}

.main .info__scroll .info__wrapper .info__attachments .block div {
  color: #ce3a3d;
}

.main .info__scroll .info__wrapper .contacts-controls {
  margin-bottom: 30px;
}

.main .info .info__scroll:hover {
  visibility: visible;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(230, 230, 230, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: #969696;
}

@media (max-width: 1100px) {
  .main {
    display: block;
    width: 100%;
  }
  chats {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */